*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* prima parte */

a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.push{
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    /* margin-right: 3rem; */
    /* position: fixed;
    top: 0;
    right: 0;
    z-index: 90; */
}

.button{
    background-color: #202124;
    padding: 0.2rem;
    border-radius: 5px;
}

/* seconda parte */

.container{
    width: 90%;
    height: calc(100vh - 85px);
    margin-inline: auto;
    /* margin-top: 5rem; */
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    overflow: auto;
}

.card{
    /* background-color: aqua; */
    width: calc(100% / 8);
    height: 150px;
    flex-grow: 4;
    position: relative;
}

.mute{
    background-color: rgba(90, 103, 116, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}

.microphone{
    color: white;
    padding: 0.2rem;
}

img{
    width: 100%;
    height: 150px;
}

/* parte finale */

.down{
    height: 60px;
    width: 100%;
    background-color: #202124;
    display: flex;
}

.left{
    height: 60px;
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quadrato{
    height: 50px;
    width: 80px;
    /* background-color: green; */
    text-align: center;
}

.function{
    color: white;
    font-size: 13px;
}

.icon{
    font-size: 25px;
}

.share{
    font-size: 25px;
    color: lime;
}

.center{
    height: 60px;
    /* background-color: red; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.right{
    height: 60px;
    width: 25%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.end{
    color: red;
    font-size: 13px;
    line-height: 50px;
}

.destro{
    background-color: gray;
}
